<br><br><br><br><br>
<h2>Login</h2>
<form action="return true;">
    
    <div >
      <label><b>Usuario</b></label>
      <input type="text" placeholder="Email" value={{emailIngreso}} #email>
  
      <label><b>Clave</b></label>
      <input type="password" placeholder="Clave" value={{contraIngreso}} #password>
  
      <button (click)="OnSignIn(email.value, password.value)" class="btn btn-default btn-lg ingresarBtn">Ingresar</button>
      <br>
     
    </div>
  
    <div >
      <button type="reset" class="btn btn-default btn-lg cancelbtn" >Borrar</button>
      <!-- <button type="button" class="btn btn-default btn-lg aceptbtn" routerLink="/Registro" >Registrarse</button> -->
    </div>
    <div>
      <button (click)="CompletaIngreso()" class="btn btn-default btn-lg completaBtn">Completar Ingreso</button>
    </div>
    
</form>