form {
    /* border: 10px solid #f1f1f1; */
    padding: 10px;
    background-color: darkgrey;
    background-size: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: transparent;
    color: whitesmoke;
}

input[type=text]:hover, input[type=password]:hover{
    border-color: orange;
}

button {
    background-color: transparent;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    color: whitesmoke;
    
}

button:hover {
    opacity: 0.8;
    font: bold;
}

label{
    color: whitesmoke;
}


.ingresarBtn{
    border-block-start-color: #3664F4;
    border-block-end-color: #3664F4;
    width: 20%;
    margin-left: 40%;
}

.ingresarBtn:hover{
    color: salmon;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    border-block-start-color: darkred;
    border-block-end-color: darkred;
}

.aceptbtn {
    width: auto;
    padding: 10px 18px;
    border-block-start-color: darkorange;
    border-block-end-color: darkorange;
}
.completaBtn{
    width: 20%;
    margin-left: 70%;
}

.imgcontainer {
    text-align: center;
    margin: 5px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius:20%;
}

